[package]
name = "tx-indexer"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4.4.1"
anyhow = "1.0.79"
async-trait = "0.1.77"
clap = "4.4.18"
futures = "0.3.30"
futures-locks = "0.7.1"
humantime = "2.1.0"
lazy_static = "1.4.0"
prometheus = "0.13.3"
tokio = { version = "1.35.1", features = [
    "sync",
    "time",
    "macros",
    "rt-multi-thread",
] }
tokio-stream = { version = "0.1.14" }
tracing = "0.1.40"

configuration = { path = "../configuration" }
database = { path = "../database" }
readnode-primitives = { path = "../readnode-primitives" }

near-indexer-primitives = "0.20.0"
near-jsonrpc-client = "0.8.0"
near-lake-framework = "0.7.7"

[features]
default = ["scylla_db"]
tracing-instrumentation = ["configuration/tracing-instrumentation"]
postgres_db = ["database/postgres_db"]
scylla_db = ["database/scylla_db"]
scylla_db_tracing = ["database/scylla_db_tracing", "scylla_db"]
