[package]
name = "test_rpc_server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.82"
reqwest = { version = "0.11.11", features = ["json"] }
tokio = { version = "1.20.1", features = ["full"] }
jsonrpc-v2 = "0.11.0"
actix-rt = "1.1.1"
actix-web = "4.1.0"
http = "0.2"
clap = { version = "3.1.6", features = ["color", "derive", "env"] }
near-jsonrpc-primitives = { git = "https://github.com/near/nearcore.git", features = ["full"] }
