[workspace.package]
version = "0.1.0"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"
rust-version = "1.73.0"
repository = "https://github.com/near/read-rpc"
license = "MIT OR Apache-2.0"

[workspace]
resolver = "2"
members = [
    "configuration",
    "database",
    "epoch-indexer",
    "near-state-indexer",
    "perf-testing",
    "readnode-primitives",
    "rpc-server",
    "state-indexer",
    "tx-indexer",
]

[patch.crates-io]
near-chain-configs = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-crypto = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-jsonrpc-primitives = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-indexer = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-client = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-o11y = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-indexer-primitives = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-primitives = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }
near-vm-runner = { git = 'https://github.com/near/nearcore.git', branch = '1.36.0' }

# TODO: We use forks to resolve nearcore dependency conflicts.
# After updating the dependencies, we should use the published versions of the crates.
near-jsonrpc-client = { git = 'https://github.com/kobayurii/near-jsonrpc-client-rs.git', branch = '0.7.0' }
#near-lake-framework = { git = 'https://github.com/kobayurii/near-lake-framework-rs.git', branch = '0.7.9' }
near-lake-framework = { path = '../near-lake-framework-rs' }
