[workspace.package]
version = "0.2.10"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2021"
rust-version = "1.77.0"
repository = "https://github.com/near/read-rpc"
license = "MIT OR Apache-2.0"

[profile.release]
opt-level = 3
debug = false
split-debuginfo = 'off'
debug-assertions = false
overflow-checks = false
lto = true
panic = 'unwind'
incremental = false
codegen-units = 1
rpath = false

[workspace]
resolver = "2"
members = [
    "configuration",
    "database",
    "perf-testing",
    "readnode-primitives",
    "rpc-server",
    "logic-state-indexer",
    "near-state-indexer",
    "state-indexer",
    "tx-indexer",
]

[workspace.dependencies]

configuration = { path = "configuration" }
database = { path = "database" }
readnode-primitives = { path = "readnode-primitives" }
epoch-indexer = { path = "epoch-indexer" }
logic-state-indexer = { path = "logic-state-indexer" }

# Please, update the supported nearcore version in .cargo/config.toml file
near-async = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-indexer = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-client = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-o11y = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-indexer-primitives = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-primitives = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-chain-configs = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-crypto = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-jsonrpc = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-parameters = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork" }
near-vm-runner = { git = 'https://github.com/kobayurii/nearcore.git', branch = "1.40.0-fork", features = [
    "wasmer0_vm",
    "wasmer2_vm",
    "wasmtime_vm",
    "near_vm",
] }

near-lake-framework = { git = 'https://github.com/kobayurii/near-lake-framework-rs.git', branch = '0.7.14' }
near-jsonrpc-client = { git = 'https://github.com/kobayurii/near-jsonrpc-client-rs.git', branch = '0.10.0' }
